@import url(fonts/fontello.css);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block; }

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

header {
  font-family: "SansSerif", sans-serif;
  padding: 21px 41px;
  background: #FAFAFA;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }
  header .logo {
    font-family: "SansSerif", sans-serif;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.416667px;
    text-decoration: none; }
    header .logo:before {
      content: "RD.";
      color: #66B6FE; }
    header .logo:after {
      content: "GSU";
      color: #333; }
  header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; }
    header nav img {
      width: 43px;
      border-radius: 50%; }
    header nav span {
      font-family: "Open Sans", sans-serif;
      font-style: normal;
      font-weight: normal;
      line-height: normal;
      font-size: 15px;
      text-align: center;
      letter-spacing: 0.3125px;
      color: #333333;
      padding-right: 15px; }
    header nav .dropdown .dropdown-content {
      margin-left: -100px;
      margin-top: 20px;
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      padding: 12px 16px;
      z-index: 1; }
    header nav .dropdown:hover .dropdown-content {
      display: block; }

.logo {
  font-family: "SansSerif", sans-serif;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0.416667px;
  text-decoration: none; }
  .logo:before {
    content: "RD.";
    color: #66B6FE; }
  .logo:after {
    content: "GSU";
    color: #333; }

.leftNav {
  background: #333;
  height: calc(100vh - 86px - 65px);
  width: 300px;
  padding-top: 65px; }
  .leftNav ul li {
    cursor: pointer;
    transition: background-color 0.4s; }
    .leftNav ul li:hover {
      background: linear-gradient(90deg, #2A65E2 0%, #66B6FE 100%), #222222;
      box-shadow: 0px 40px 40px rgba(0, 0, 0, 0.05); }
    .leftNav ul li a {
      display: block;
      padding-left: 45px;
      width: calc(300px - 45px);
      height: 50px;
      font-style: normal;
      font-weight: normal;
      line-height: 50px;
      font-size: 15px;
      letter-spacing: 0.15px;
      color: #FFF;
      text-decoration: none; }
  .leftNav ul .active {
    background: linear-gradient(90deg, #2A65E2 0%, #66B6FE 100%), #222222;
    box-shadow: 0px 40px 40px rgba(0, 0, 0, 0.05); }

.search-box {
  margin-top: -40px;
  position: absolute; }
  .search-box input[type=search] {
    background: url(http://getinthering.co/wp-content/themes/januas/lib/images/search_mobile.png) no-repeat 2px;
    padding: 15px 25px;
    width: 0;
    height: 50px;
    position: relative;
    z-index: 2;
    border: 1px solid transparent;
    cursor: pointer;
    outline: none;
    transition: all .5s ease; }
  .search-box input[type=search]:focus {
    width: 300px;
    height: 50px;
    background: transparent;
    border-bottom: 1px solid #055;
    border-radius: 5px;
    padding: 20px;
    z-index: 9; }
  .search-box input[type=submit] {
    z-index: 1;
    width: 50px;
    height: 50px;
    position: relative;
    left: 40px;
    border: none;
    background: none;
    color: transparent;
    cursor: pointer;
    outline: none; }

.rating {
  padding: 60px;
  height: calc(100vh - 86px - 65px - 55px ); }
  .rating-top {
    margin-bottom: 45px; }
    .rating-top_title {
      font-style: normal;
      font-weight: bold;
      line-height: normal;
      font-size: 21px;
      color: #333; }
  .rating-person {
    background: #F2F2F2;
    margin-top: 10px;
    padding: 6px 16px 16px 16px;
    display: flex;
    align-items: center; }
    .rating-person_id {
      margin-right: 20px;
      font-style: normal;
      font-weight: normal;
      line-height: normal;
      font-size: 15px;
      color: #333; }
    .rating-person_avatar {
      width: 64px;
      height: 64px;
      border-radius: 50%;
      margin-right: 16px; }
    .rating-person_name {
      font-style: normal;
      font-weight: 900;
      line-height: normal;
      font-size: 15px;
      color: #333;
      margin-right: 30px; }
      .rating-person_name span {
        margin-right: 5px; }
      .rating-person_name3 {
        display: block; }
    .rating-person_rating {
      font-style: normal;
      font-weight: normal;
      line-height: normal;
      font-size: 15px;
      color: #333333; }
    .rating-person .icon-star {
      color: #FC9426; }
  .rating-pagination {
    position: absolute;
    bottom: 0;
    padding-top: 10px;
    padding-bottom: 30px;
    display: flex; }
    .rating-pagination button {
      font-style: normal;
      font-weight: bold;
      line-height: normal;
      font-size: 15px; }
    .rating-pagination_clr {
      color: #54acfe;
      border: 0;
      padding: 0;
      border-bottom: 2px solid #54acfe;
      background: #fff; }
    .rating-pagination_sbm {
      margin-right: 15px;
      border: 0;
      padding: 3px 15px;
      background: #54acfe;
      color: #fff; }
    .rating-pagination div {
      margin-right: 5px;
      padding: 5px 8px;
      cursor: pointer;
      background: #fff;
      border: 1px solid #fff;
      border-radius: 50%; }
      .rating-pagination div:hover {
        border-color: #333; }
    .rating-pagination .active {
      border-color: #333; }

.form {
  padding-left: 60px;
  padding-top: 60px;
  padding-bottom: 60px;
  height: calc(100vh - 86px - 65px - 55px);
  width: calc(100vw - 300px - 60px ); }
  .form-top {
    margin-bottom: 45px; }
    .form-top_title {
      font-style: normal;
      font-weight: bold;
      line-height: normal;
      font-size: 21px;
      color: #333; }
  .form-box {
    margin-bottom: 32px; }
    .form-box_title {
      width: calc(100vw - 450px);
      font-style: normal;
      font-weight: bold;
      line-height: normal;
      font-size: 15px;
      letter-spacing: 0.15px;
      color: #333333; }
    .form-box-inputs label {
      display: flex;
      flex-wrap: wrap;
      padding-top: 20px; }
      .form-box-inputs label input {
        margin-left: 0; }
      .form-box-inputs label p {
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 15px;
        letter-spacing: 0.15px;
        color: #333333; }
        .form-box-inputs label p:first-letter {
          text-transform: uppercase; }
    .form-box-inputs div {
      display: flex;
      flex-wrap: wrap; }
      .form-box-inputs div span {
        padding-top: 20px;
        padding-right: 20px; }
        .form-box-inputs div span:first-letter {
          text-transform: uppercase; }
      .form-box-inputs div label {
        margin-right: 10px; }

.scrollingBox {
  overflow: auto;
  height: calc(100vh - 85px - 60px - 60px - 60px); }
  .scrollingBox::-webkit-scrollbar {
    width: 7px; }
  .scrollingBox::-webkit-scrollbar-track {
    background: #fff; }
  .scrollingBox::-webkit-scrollbar-thumb {
    background-color: #666; }

main {
  display: flex;
  flex-wrap: wrap; }

.login {
  width: 400px;
  margin: 16px auto;
  font-size: 16px; }

/* Reset top and bottom margins from certain elements */
.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0; }

/* The triangle form is achieved by a CSS hack */
.login-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: #28d; }

.login-header {
  background: #28d;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff; }

.login-container {
  background: #ebebeb;
  padding: 12px; }

/* Every row inside .login-container is defined with p tags */
.login p {
  padding: 12px; }

.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em; }

.login input[type="email"],
.login input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555; }

/* Text fields' focus effect */
.login input[type="email"]:focus,
.login input[type="password"]:focus {
  border-color: #888; }

.login input[type="submit"] {
  background: #28d;
  border-color: transparent;
  color: #fff;
  cursor: pointer; }

.login input[type="submit"]:hover {
  background: #17c; }

/* Buttons' focus effect */
.login input[type="submit"]:focus {
  border-color: #05a; }

body {
  font-family: "Lato", sans-serif;
  overflow: auto; }
  body::-webkit-scrollbar {
    width: 0px; }
  body::-webkit-scrollbar-track {
    background: #fff; }
  body::-webkit-scrollbar-thumb {
    background-color: #333; }

/*# sourceMappingURL=index.css.map */
